

.example-form {
    min-width: 150px;
    max-width: 800px;
    width: 100%;
     margin:10px;
  }
  
  input{
    width: 100%;
    display: block;
  }


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

mat-form-field{
  padding-right: 10px;
}