

<mat-card>

<mat-card-title class="text-center">
    studentsdetail 
</mat-card-title>
<mat-card-content>
    <mat-accordion>
        <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                 students
                </mat-panel-title>
                <mat-panel-description>
                  Type your name and age
                </mat-panel-description>
              </mat-expansion-panel-header>
             <p>
               address 
             </p>
             <button color="accent" class="right" mat-flat-button>update</button>
             <button color="warn" class="right" mat-button>delete</button>
            </mat-expansion-panel>
          </mat-accordion>

</mat-card-content>
<mat-card-footer>
 pagenation will come here
</mat-card-footer>
</mat-card>

