

<mat-card >

<mat-card-title class="text-center">
    studentsdetail 
</mat-card-title>
<mat-card-content *ngFor="let student of allStudent">
    <mat-accordion>
        <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                 {{ student.name }}
                </mat-panel-title>
                <mat-panel-description>
                  father's Name   &nbsp; <strong> {{student.fathername}} </strong>   
                </mat-panel-description>
              </mat-expansion-panel-header>
             <p>
               {{student.address.street}} , {{student.address.city}},{{student.address.state}}, Pincode - {{student.address.pincode}}.

             </p>
             <button color="accent" class="right" mat-flat-button>update</button>
             <button color="warn" class="right" mat-button>delete</button>
            </mat-expansion-panel>
          </mat-accordion>

</mat-card-content>
<mat-card-footer>
 
</mat-card-footer>
</mat-card>


