



<!-- <mat-card-title class="text-center">
 
</mat-card-title>
<mat-card-content>
    <mat-accordion>
        <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ studentsData.name }}
                </mat-panel-title>
                 <mat-panel-description>
                  father's Name   &nbsp; <strong> {{studentsData.fathername}} </strong>   
                </mat-panel-description>
              </mat-expansion-panel-header>
             <p>
               {{studentsData.address.street}} , {{studentsData.address.city}},{{studentsData.address.state}}, Pincode - {{studentsData.address.pincode}}.

             </p>
             <button color="accent" class="right" mat-flat-button>update</button>
             <button color="warn" class="right" mat-button>delete</button>
            </mat-expansion-panel>
          </mat-accordion>

</mat-card-content>
<mat-card-footer>
 
</mat-card-footer> -->


<table #MatTable mat-table [dataSource]="tableData" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->



  <!-- Name Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

   <!-- father Name -->
   <ng-container matColumnDef="FatherName">
    <th mat-header-cell *matHeaderCellDef> FatherName </th>
    <td mat-cell *matCellDef="let element"> {{element.fathername}}</td>
  </ng-container>

  <!-- Age Column -->
  <ng-container matColumnDef="Age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

   <!-- DateofBirth Column -->
   <ng-container matColumnDef="DoB">
    <th mat-header-cell *matHeaderCellDef> DoB </th>
    <td mat-cell *matCellDef="let element"> {{element.dob | date:"MM/dd/yy" }} </td>
  </ng-container>

  <!-- address -->
  <ng-container matColumnDef="Address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address.street}}, {{ element.address.city}} , {{ element.address.state}} - {{ element.address.pincode}}  </td>
  </ng-container>

  <!-- updates -->
  <ng-container matColumnDef="Update">
    <th mat-header-cell *matHeaderCellDef> Edit</th>
    <td *matCellDef="let row"> 
        <mat-icon color="primary"  cursor="pointer" (click)="editData(row)" class="mr-3">edit</mat-icon>
      <mat-icon color="warn" (click)="openDialog(row)" >delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayData sticky: true"  ></tr>
  <tr mat-row *matRowDef="let row; columns: displayData;"></tr>
</table>
<mat-paginator
             
              [pageSizeOptions]="pageSizeOptions"
              [pageSize]="4"
              
>
</mat-paginator>